
html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body{
  background-color: #161c27;

}
*{
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.u-float-right {
  float: right;
}

.u-flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}

.u-clearfix:after {
    clear: both;
}



.container {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;

}

.header-container {
  position: relative;
}

.header-image {
  left: 0;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 50vh;
  object-fit: cover;
  filter: brightness(0.5);
}



@-webkit-keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0);
            transform: scale(1) translateX(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
            transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

@keyframes zoomEffect {
  0% {
    -webkit-transform: scale(1) translateX(0) translateY(0);
            transform: scale(1) translateX(0) translateY(0);
  }
  100% {
    -webkit-transform: scale(1.2) translateX(-360px) translateY(-80px);
            transform: scale(1.2) translateX(-360px) translateY(-80px);
  }
}

.header {
  color: #fff;
  padding: 15px;
  height: 300px;
}

.header > svg {
  cursor: pointer;
}

.main-heading {
  color: #fff;  
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 12px;
}

.tag {
  background-color: rgba(255, 255, 255, .35);
  border-radius: 20px;
  font-size: 11px;
  margin-right: 8px;
  padding: 4px 10px;
  text-transform: uppercase;
}

.stats {
  margin-top: 35px;
}

.stat-module {
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  text-transform: uppercase;
}

.stat-number {
  display: inline-block;
  font-weight: 600;
  margin-left: 4px;
}

.overlay-header {
  background-color: #eee;
  height: 100px;
  margin: -80px 0 0 -25%;
  transform: rotate(-10deg);
  width: 150%;
  z-index: 1;
}

.body1 {
  background-color: #eee;
  color: #555;
  margin-top: -50px;
  padding: 0 15px 15px;
  position: relative;
  border-radius: 60px 0 0 0;
}

.body-image {
  border-radius: 100%;
  box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
  float: left;
  margin: -90px 0 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border: 5px solid goldenrod;
  
}

.body-action-button {
  background-color: #383838;
  border-radius: 50%;
  box-shadow: 1px 2px 12px rgba(0,0,0,.4);
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 15px;
  top: -97px;
  width: 40px;
}
.change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.body-stats {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  width: 170px;
  margin: 10px;
  padding: 10px;
    color: rgb(8, 8, 8);
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
}

.body-stats > span {
  display: inline-block;
  font-weight: 900;
  margin-top: 8px;
}

.body-info {
  clear: left;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: all 600ms ease-out;
}

.body-more {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgb(82, 10, 10) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(238,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#eeeeee',GradientType=0 );
  cursor: pointer;
  margin: -57px auto 0px;
  padding: 20px 0 20px;
  position: relative;
  text-align: center;
}

.body-more span {
  background-color: #f6c00d;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0,0,0,.3);
  display: inline-block;
  height: 6px;
  margin-right: 2px;
  width: 6px;
}

.card {
  background: #dcad0435;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  flex-direction: row;
}
@media (max-width: 768px) {

 .body1 {
  background-color: #eee;
  color: #555;
  margin-top: -50px;
  padding: 0 15px 15px;
  position: relative;
  border-radius: 60px 0 0 0;

}

.body-image {
  border-radius: 100%;
  box-shadow: 5px 10px 75px rgba(0, 0, 0, .4);
  float: left;
  margin: -90px 0 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 400px;
  height: 400px;
  border: 5px solid goldenrod;
  
}
.body-stats {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  width: 170px;
  margin: 10px;
  padding: 10px;
   color: rgb(8, 8, 8);
  border-radius: 10px;
  border: 1px solid rgb(6, 162, 173);
  text-align: center;
}

.change {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid rgba(82, 218, 32, 0);

}
}
.body-stats:hover{
  background-color: goldenrod;
}
