 /* Change the scrollbar style */
 ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background-color: #313348;
  }
  
  /* Change the thumb style */
  ::-webkit-scrollbar-thumb {
    background-color: #313348;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* Change the scrollbar on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #313348;
    cursor: pointer;
  }